//- takes name, which is internal the id and name of the file,
//- and label, which is the external facing label that goes on the cover div
mixin vid-wrapper(name, label)
	div.vid-wrapper
		video.music(id=name src='video/'+name+'.mp4' type='video/mp4' preload='auto' mediaGroup='music')
		div.cover
			h2.label= label

mixin control-button(id, imgSrc, label)
	button(id=id type="button").control
		img(src='img/'+imgSrc+'.svg', alt=label title=label)
